.font-1-xxl {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 1.125;
}

.font-1-xl {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 32px;
  line-height: 125%;
}
.font-1-l {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 36px;
  line-height: 1.35;
  text-transform: uppercase;
}
.font-1-ls {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 36px;
  line-height: 1.35;
}
.font-2-ml {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 36px;
  line-height: 1.5;
}

.font-2-xl {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.5;
}
.font-2-l-b {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
}
.font-1-m-b {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 24px;
  line-height: 1.35;
}
.font-1-m-bb {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
}
.font-2-m {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.35;
}

.font-2-s {
  font-family: "Roboto";
  text-transform: lowercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}
.font-2-ss {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

.font-1-m {
  font-family: "poppins";
  font-weight: 500;
  font-size: 18px;
  line-height: 1.35;
}

.font-1-ms {
  font-family: "poppins";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.font-1-mss {
  font-family: "poppins";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.font-2-mss {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
}

.font-1-mssm {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}
.font-1-sss {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 133%;
  text-transform: uppercase;
  letter-spacing: 0.015em;
}

@media (max-width: 1201px) {
  .font-2-xl {
    font-size: 18px;
  }
}

@media (max-width: 1000px) {
  .font-1-xxl {
    font-size: 48px;
  }
  .font-1-sss {
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  .font-1-xxl {
    font-size: 32px;
  }
  .font-1-l {
    font-size: 24px;
  }
  #nimbus .font-2-ml {
    text-transform: uppercase;
  }
}
@media (max-width: 500px) {
  #bicicletas .font-1-ls {
    font-size: 24px;
  }
  #bicicletas .font-2-m {
    font-size: 16px;
  }
  #bicicletas .font-1-m {
    font-size: 14px;
  }
  .lista-qualidades {
    gap: 20px;
  }
}

@media (max-width: 400px) {
  .font-2-l-b {
    font-size: 18px;
  }
}